button {
    background-color: #0D6EFD;
    color: white;
    text-transform: uppercase;
    margin: 10px 20px 40px 0;
}

button:hover {
    background-color: #FFC107 !important;
    color: black !important;
    border-color: #FFC107 !important;
}

.buttonActive {
    background-color: #FFC107;
    border-color: #FFC107;
    color: black;
}